@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light only;
}
html,
body {
  background: #fff;
  color: #28323b;
}
body {
  font-family: Inter, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
}
